@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	
}

.btn {
	display: inline-block;
	padding: 25px 32px;
	border: none;
	border-radius: 4px;
}
.btn--primary {
	
	color: #fff;
	background-color: #27AD6C;
}  